.a-day-in-rome {
  flex-grow: 1;
  min-height: 100%;
  display: flex;
}

.a-day-in-rome pre::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -12.5%;
  width: 125%;
  height: 40%;
  background: rgba(0,0,0,0.5);
  filter: blur(50px);
  border-radius: 100%;
  z-index: -1;
}
