* {
  box-sizing: border-box;
}

body {
  background: #dadbdc;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button, :global(.button) {
  background: rgba(255,255,255,0.8);
  margin: 0;
  padding: 24px 16px;
  color: rgba(0,0,0,0.75);
  font-size: 18px;
  white-space: nowrap;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
  cursor: pointer;
  font-weight: bolder;
  text-decoration: none;
}

button:hover, :global(.button):hover {
  box-shadow: inset 0 0 50px 0 rgba(224,78,57,0.5);
  /*box-shadow: inset 0 0 50px 0 rgba(15, 174, 255, 0.5);*/
}

button[aria-pressed], :global(.button):active, :global(.button.active) {
  box-shadow: inset 0 0 50px 10px rgba(224,78,57,0.8);
  /*box-shadow: inset 0 0 50px 0 rgba(15, 174, 255, 0.8);*/
  color: #fff;
}

:global(.button-group) {
  position: relative;
  display: flex;
  gap: 3px;
}

:global(.button-group) > *:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

:global(.button-group) > *:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

:global(.button-group)::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -12.5%;
  width: 125%;
  height: 20%;
  background: rgba(0,0,0,0.5);
  filter: blur(15px);
  border-radius: 100%;
  z-index: -1;
}

pre {
  border-radius: 2rem;
}

pre::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -12.5%;
  width: 125%;
  height: 20%;
  background: rgba(0,0,0,0.5);
  filter: blur(50px);
  border-radius: 100%;
  z-index: -1;
}
