.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  width: 100%;
  min-height: 100%;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 3rem;
  margin: 2rem 0;
  padding: 0 8rem;
}

.content {
  display: flex;
  align-items: center;
}

.code, .list {
  background: #f5f2f0;
  border-radius: 2rem;
}

.code {
  overflow: hidden;
  margin-right: 100px;
  width: 700px;
}

.code pre, .code code {
  margin: 0;
  padding: 0;
}

.code pre {
  /*background: rgba(255,255,255,0.5);
  backdrop-filter: blur(10px);*/
  padding: 2rem;
}

.list {
  font-size: 1.5rem;
  padding: 2rem;
}

.list ul {
  margin: 0;
}

.list li {
  padding: 0.5rem 0;
  white-space: nowrap;
}

.mira-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.border-radius-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50% + 2px);
  height: calc(60% + 2px);

  border-bottom: 4px dashed black;
  border-right: 4px dashed black;
  z-index: 3;
}

.horizontal {
  position: absolute;
  bottom: -3rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.vertical {
  position: absolute;
  left: calc(100% + 1rem);
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.overflow:global(.step-28:not(.step-31)) > div {
  overflow: visible!important;
}

.overflow-button {
  text-align: right;
  margin-top: 1rem;
  margin-right: 100px;
}
