.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  width: 100%;
  min-height: 100%;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 3rem;
  margin: 2rem 0;
  padding: 0 8rem;
}

.content {
  display: flex;
  align-items: center;
}

.code, .list {
  background: #f5f2f0;
  border-radius: 2rem;
}

.code {
  overflow: hidden;
}

.code pre, .code code {
  margin: 0;
  padding: 0;
}

.code, .list {
  margin-right: 100px;
  width: 700px;
}

.code pre {
  /*background: rgba(255,255,255,0.5);
  backdrop-filter: blur(10px);*/
  padding: 2rem;
}

.list {
  font-size: 1.5rem;
  padding: 2rem;
}

.list ul {
  margin: 0;
}

.list li {
  padding: 0.5rem 0;
}

.mira-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

