.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  width: 100%;
  min-height: 100%;
}

.menu {
  margin-top: 100px;
}
