.scene {
  margin-top: -100px;
  width: 100%;
  min-height: 100%;
  position: relative;

  --mira-size: 100px;

  background-image: url('/images/colosseum-1.png');
  background-size: auto 800px;
  background-repeat: no-repeat;
  background-position: top left;
  overflow: hidden;
}

.scene::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background-image: url('/images/colosseum-2.png');
  background-size: auto 750px;
  background-repeat: no-repeat;
  background-position: top left;
  z-index: 2;
}

.actions {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: right;
  display: flex;
  padding: 25px;
  gap: 15px;
  justify-content: flex-end;
}

.flip {
  position: absolute;
  top: 25px;
  left: 25px;
  width: calc(100% - 50px);
  height: calc(100% - 50px - 100px);
  background: rgba(255,255,255,0.5);
  backdrop-filter: blur(50px);
  border-radius: 2rem;
}

.a, .b, .b-ghost {
  position: absolute;
  top: calc(50% - 10vw);

  width: 20vw;
  aspect-ratio: 1/1;
  border: 4px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
}

.a {
  left: 10vw;
  animation: a infinite 10s linear;
}

.b {
  right: 10vw;
  border-style: dotted;
}

.b-ghost {
  right: calc(100% - 10vw - 20vw);
  animation: b-ghost infinite 10s linear;
}

@keyframes a {
  0% {
    border-style: solid;
  }
  39% {
    border-style: solid;
  }
  40% {
    border-style: dotted;
  }
  100% {
    border-style: dotted;
  }
}

@keyframes b-ghost {
  0% {
    opacity: 0;
  }
  39% {
    opacity: 0;
    right: calc(100% - 10vw - 20vw);
  }
  40% {
    opacity: 1;
    right: calc(100% - 10vw - 20vw);
  }
  70% {
    right: 10vw;
  }
  100% {
    right: 10vw;
  }
}

.code {
  position: absolute;
  left: 25px;
  top: 25px;
  z-index: 3;
}

.queue {
  display: flex;
  width: calc(100% - 200px);
  height: 100px;

  position: absolute;
  top: 400px;
  left: 600px;
  gap: 15px;
  transition: gap 1500ms;
  z-index: 1;
}

.queue.covid {
  gap: 150px;
}

.group {
  display: grid;
  grid-template-columns: var(--mira-size) var(--mira-size) var(--mira-size) var(--mira-size);
  grid-template-rows: var(--mira-size) var(--mira-size);
  grid-gap: 15px;
  width: 450px;
  height: 250px;

  position: absolute;
  bottom: 75px;
  left: 25px;
  z-index: 3;
}

.mira {
  cursor: pointer;
  transform-origin: center bottom;
}

.mira.drop {
  animation: drop-in 1s linear;
  animation-fill-mode: forwards;
  transform: translateY(calc(-100vh)) scale(0.9, 1.1)
}

@keyframes drop-in {
  0% {
    transform: translateY(calc(-100vh)) scale(0.9, 1.1);
  }
  75% {
    transform: translateY(0) scale(0.95, 1.05);
  }
  80% {
    transform: translateY(0) scale(1, 1);
  }
  85% {
    transform: translateY(0) scale(1.2, 0.9);
  }
  100% {
    transform: translateY(0) scale(1, 1);
  }
}
