.scene {
  margin-top: -100px;
  width: 100%;
  min-height: 100%;
  position: relative;

  --mira-size: 100px;

  background-image: url('/images/colosseum-1.png');
  background-size: auto 800px;
  background-repeat: no-repeat;
  background-position: top left;
}

.scene::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background-image: url('/images/colosseum-2.png');
  background-size: auto 750px;
  background-repeat: no-repeat;
  background-position: top left;
  z-index: 2;
}

.actions {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 100%;
  text-align: right;
}

.code {
  position: absolute;
  left: 25px;
  top: 25px;
  z-index: 3;
}

.queue {
  display: flex;
  width: calc(100% - 200px);
  height: 100px;

  position: absolute;
  top: 400px;
  left: 600px;
  gap: 15px;
  transition: gap 1500ms;
  z-index: 1;
}

.queue.covid {
  gap: 150px;
}

.group {
  display: grid;
  grid-template-columns: var(--mira-size) var(--mira-size) var(--mira-size) var(--mira-size);
  grid-template-rows: var(--mira-size) var(--mira-size);
  grid-gap: 15px;
  width: 450px;
  height: 250px;

  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 3;
}

.mira {
  cursor: pointer;
  transform-origin: center bottom;
}

.mira.drop {
  animation: drop-in 1s linear;
  animation-fill-mode: forwards;
  transform: translateY(calc(-100vh)) scale(0.9, 1.1)
}

@keyframes drop-in {
  0% {
    transform: translateY(calc(-100vh)) scale(0.9, 1.1);
  }
  75% {
    transform: translateY(0) scale(0.95, 1.05);
  }
  80% {
    transform: translateY(0) scale(1, 1);
  }
  85% {
    transform: translateY(0) scale(1.2, 0.9);
  }
  100% {
    transform: translateY(0) scale(1, 1);
  }
}
