<div ...attributes local-class="mira" role="presentation">
  <div local-class="body"></div>
  <div local-class="head {{@look}}">
    <div local-class="eye left {{if this.eyesClosed "closed"}}"></div>
    <div local-class="eye right {{if this.eyesClosed "closed"}}"></div>
  </div>
</div>
<div local-class="shadow"></div>