:root {
  --mira-size: 300px;
}

.mira-wrapper {
  position: relative;
}

.mira, .mira * {
  transition: all 0.5s;
}

.mira {
  position: relative;
  width: var(--mira-size);
  height: var(--mira-size);

  background: transparent;

  overflow: hidden;
  transform-origin: bottom;

  /*
   * Prevent safari bug with transitioning an element with overflow hidden
   * combined with a border-radius.
   */
  transform: translateZ(0);
  z-index: 2;
}

.eye {
  --eye-size: calc(var(--mira-size) * 0.08);
  position: absolute;
  bottom: calc(var(--eye-size) * 0.8);
  width: var(--eye-size);
  height: var(--eye-size);
  background: transparent;
}

.eye.left {
  left: 41%;
}
.eye.right {
  right: 41%;
}


:global(.step-1) .mira {
  animation: drop-in 1s linear;
  animation-fill-mode: forwards;
}

:global(.step-1) .mira {
  background: #fff;
}

:global(.step-2) .mira {
  animation: none;
}

:global(.step-3) .mira {
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

:global(.step-6) .body {
  width: 100%;
  height: 100%;
  background: rgba(224,78,57,1);
}

:global(.step-8) .body {
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  box-shadow: inset 0 0 1px 0 rgba(255,255,255,0.25),
              inset 0 0 calc(var(--mira-size) * 0.5) 0 #fff;
}

:global(.step-10) .mira {
  overflow: visible;
}
:global(.step-10) .head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: #FFF;
}

:global(.step-12) .head {
  top: -40%;
  left: -25%;
  width: 150%;
  height: 120%;
}

:global(.step-14) .head {
  border-radius: 0 0 50% 50% / 0 0 20% 20%;
/*  transform-origin: center;
  transform: rotate(0deg);
  transition: all 1000ms ease;*/
}

:global(.step-16) .mira {
  overflow: hidden;
}

:global(.step-18) .mira {
  background: none;
}
:global(.step-18) .head {
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.5), inset 0 0 5px 0 rgba(0,0,0,0.5);
}

:global(.step-20) .body {
  transform: scale(0.975);
}

:global(.step-22) .eye {
  --eye-size: calc(var(--mira-size) * 0.08);
  position: absolute;
  bottom: calc(var(--eye-size) * 0.8);
  width: var(--eye-size);
  height: var(--eye-size);
  background: #0D3349;
  border-radius: 0;
}

:global(.step-22) .eye.left {
  left: 41%;
  //transform: rotate(2deg);
}
:global(.step-22) .eye.right {
  right: 41%;
  //transform: rotate(-2deg);
}

:global(.step-24) .eye {
  border-radius: 100%;
}

:global(.step-28) .head {
  transition: unset;
}
:global(.step-28) .head.up {
  border-radius: 0 0 50% 50% / 0 0 0 0;
  transform: translateY(-15%);
}
:global(.step-29) .head {
  transition: transform 1s, border-radius 1s;
}

:global(.step-30) .head.left {
  transform: rotate(30deg);
  border-radius: 0 0 50% 50% / 0 0 40% 80%;
}

:global(.step-30) .head.right {
  transform: rotate(-30deg);
  border-radius: 0 0 50% 50% / 0 0 80% 40%;
}

:global(.step-31) .head.tilt-left {
  transform: rotate(-15deg) translate(-10%, -8%);
  border-radius: 0 0 50% 50% / 0 0 20% 20%;
}

:global(.step-31) .head.tilt-right {
  transform: rotate(15deg) translate(10%, -8%);
  border-radius: 0 0 50% 50% / 0 0 20% 20%;
}

:global(.step-33) .eye {
  box-shadow: inset 0 0 0 rgba(255,255,255,0.85);
  transition: box-shadow 4000ms;
}
:global(.step-33) .eye.closed {
  box-shadow: inset 0 var(--eye-size) var(--eye-size) var(--eye-size) #fff;
}

:global(.step-35:not(.step-36)) .eye {
  box-shadow: inset 0 var(--eye-size) var(--eye-size) var(--eye-size) #fff;
}
:global(.step-36) .eye {
  transition: box-shadow 150ms;
}

:global(.step-42) .body {
  animation: background-pulse infinite 4s;
}

:global(.step-44) .body {
  animation: background-pulse-loop infinite 4s;
}

:global(.step-46) .body {
  animation: pulse infinite 3s;
}

:global(.step-50) .shadow {
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 15%;
  border-radius: 100%;
  background: #000;
  z-index: 1;
  transition: filter 1s, opacity 1s;
}

:global(.step-52) .shadow {
  opacity: 0.5;
  filter: blur(25px);
  transform-origin: center;
  transform: translateZ(0);
}

.mira.jump {
  animation: jump linear 1.25s;
}

:global(.step-54) .shadow.jump {
  animation: jump-shadow linear 1.25s;
}




@keyframes background-pulse {
  from {
    background: red;
  }

  to {
    background: blue;
  }
}

@keyframes background-pulse-loop {
  0% {
    background: red;
  }

  50% {
    background: blue;
  }

  100% {
    background: red;
  }
}

@keyframes pulse {
  0% {
    box-shadow: inset 0 0 1px 0 rgba(255,255,255,0.25), inset 0 0 calc(var(--mira-size) * 0.65) 0 #fff;
  }
  50% {
    box-shadow: inset 0 0 1px 0 rgba(255,255,255,0.25), inset 0 0 calc(var(--mira-size) * 0.25) 0 #fff;
  }
  100% {
    box-shadow: inset 0 0 1px 0 rgba(255,255,255,0.25), inset 0 0 calc(var(--mira-size) * 0.65) 0 #fff;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0) scale(1,1);
  }
  20% {
    transform: translateY(0) scale(1.05, 0.95);
  }
  30% {
    transform: translateY(0) scale(1, 1);
  }
  45% {
    transform: translateY(-15%) scale(0.95, 1.05);
  }
  50% {
    transform: translateY(-17%) scale(0.95, 1.05);
  }
  55% {
    transform: translateY(-17%) scale(0.95, 1.05);
  }
  75% {
    transform: translateY(0) scale(0.95, 1.05);
  }
  85% {
    transform: translateY(0) scale(1.025, 0.95);
  }
  100% {
    transform: translateY(0) scale(1,1);
  }
}

@keyframes jump-shadow {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1.17);
  }
  55%  {
    transform: scale(1.17);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes drop-in {
  0% {
    transform: translateY(calc(-100vh)) scale(0.9, 1.1);
  }
  75% {
    transform: translateY(0) scale(0.95, 1.05);
  }
  80% {
    transform: translateY(0) scale(1, 1);
  }
  85% {
    transform: translateY(0) scale(1.2, 0.9);
  }
  100% {
    transform: translateY(0) scale(1, 1);
  }
}

@keyframes move-right {
  0% {
    transform: skewX(0deg) translateX(0);
  }
  30% {
    transform: skewX(10deg) translateX(100px);
  }
  70% {
    transform: skewX(15deg) translateX(250px);
  }
  90% {
    transform: skewX(-15deg) translateX(333px);
  }
  100% {
    transform: skewX(0deg) translateX(333px);
  }
}
