.mira {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background: transparent;

  overflow: hidden;
  transform-origin: bottom;
}

.mira.jump {
  animation: jump linear 1.25s;
}

.shadow {
  width: 250px;
  height: 50px;
  margin-top: -40px;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  filter: blur(25px);
  z-index: -1;
}

.head {
  position: absolute;
  top: -40%;
  left: -25%;
  width: 150%;
  height: 120%;
  background: #FFF;
  border-radius: 0 0 50% 50% / 0 0 20% 20%;
  transform-origin: center;
  transform: rotate(0deg);
  transition: all 1000ms ease;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
}

.head.tilt-left {
  transform: rotate(-15deg) translate(-40px, -30px);
  border-radius: 0 0 50% 50% / 0 0 20% 20%;
}

.head.tilt-right {
  transform: rotate(15deg) translate(40px, -30px);
  border-radius: 0 0 50% 50% / 0 0 20% 20%;
}

.head.center {

}

.head.left {
  transform: rotate(30deg);
  border-radius: 0 0 50% 50% / 0 0 40% 80%;
}

.head.right {
  transform: rotate(-30deg);
  border-radius: 0 0 50% 50% / 0 0 80% 40%;
}

.head.up {
  border-radius: 0 0 50% 50% / 0 0 0 0;
  transform: translateY(-40px);
}

.eye {
  position: absolute;
  bottom: 20px;
  width: 25px;
  height: 25px;
  background: #0D3349;
  border-radius: 100%;
  box-shadow: inset 0 0 0 rgba(255,255,255,0.85);
  transition: all 150ms;
}

.eye.left {
  left: 41%;
  transform: rotate(2deg);
}

.eye.right {
  right: 41%;
  transform: rotate(-2deg);
}

.eye.closed {
  box-shadow: inset 0 25px 25px 25px rgba(255,255,255,1);
}

.body {
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(224,78,57,1) 0%, rgba(255,255,255,1) 100%);
  background-repeat: no-repeat;
  background-size: 150% 120%;
  animation: pulse infinite 3s;
  transform: scale(0.98);

  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

@keyframes pulse {
  0% {
    background-position: center -40px;
  }
  50% {
    background-position: center 20px;
  }
  100% {
    background-position: center -40px;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0) scale(1,1);
  }
  20% {
    transform: translateY(0) scale(1.05, 0.95);
  }
  30% {
    transform: translateY(0) scale(1, 1);
  }
  45% {
    transform: translateY(-45px) scale(0.95, 1.05);
  }
  50% {
    transform: translateY(-50px) scale(0.95, 1.05);
  }
  55% {
    transform: translateY(-50px) scale(0.95, 1.05);
  }
  75% {
    transform: translateY(0) scale(0.95, 1.05);
  }
  85% {
    transform: translateY(0) scale(1.025, 0.95);
  }
  100% {
    transform: translateY(0) scale(1,1);
  }
}
