:root {
  --mira-size: 300px;
}

.mira {
  position: relative;
  width: var(--mira-size);
  height: var(--mira-size);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background: transparent;

  overflow: hidden;
  transform-origin: bottom;

  /*
   * Prevent safari bug with transitioning an element with overflow hidden
   * combined with a border-radius.
   */
  transform: translateZ(0);
  z-index: 2;
}

.shadow {
  width: calc(var(--mira-size) * 0.8);
  height: calc(var(--mira-size) * 0.15);
  margin-top: calc(var(--mira-size) * -0.12);
  margin-left: calc(var(--mira-size) * 0.1);
  border-radius: 100%;
  background: #000;
  opacity: 0.5;
  filter: blur(calc(var(--mira-size) * 0.08));
  z-index: 1;
  transform-origin: center;
  transform: translateZ(0);
}

.mira.jump {
  animation: jump linear 1.25s;
}

.shadow.jump {
  animation: jump-shadow linear 1.25s;
}

.head {
  position: absolute;
  top: -40%;
  left: -25%;
  width: 150%;
  height: 120%;
  background: #FFF;
  border-radius: 0 0 50% 50% / 0 0 20% 20%;
  transform-origin: center;
  transform: rotate(0deg);
  transition: all 1000ms ease;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.5), inset 0 0 5px 0 rgba(0,0,0,0.5);
}

.head.tilt-left {
  transform: rotate(-15deg) translate(-10%, -8%);
  border-radius: 0 0 50% 50% / 0 0 20% 20%;
}

.head.tilt-right {
  transform: rotate(15deg) translate(10%, -8%);
  border-radius: 0 0 50% 50% / 0 0 20% 20%;
}

.head.center {

}

.head.left {
  transform: rotate(30deg);
  border-radius: 0 0 50% 50% / 0 0 40% 80%;
}

.head.right {
  transform: rotate(-30deg);
  border-radius: 0 0 50% 50% / 0 0 80% 40%;
}

.head.up {
  border-radius: 0 0 50% 50% / 0 0 0 0;
  transform: translateY(-15%);
}

.eye {
  --eye-size: calc(var(--mira-size) * 0.08);
  position: absolute;
  bottom: calc(var(--eye-size) * 0.8);
  width: var(--eye-size);
  height: var(--eye-size);
  background: #0D3349;
  border-radius: 100%;
  box-shadow: inset 0 0 0 rgba(255,255,255,0.85);
  transition: all 150ms;
}

.eye.left {
  left: 41%;
  transform: rotate(2deg);
}

.eye.right {
  right: 41%;
  transform: rotate(-2deg);
}

.eye.closed {
  box-shadow: inset 0 var(--eye-size) var(--eye-size) var(--eye-size) #fff;
}

.body {
  width: 100%;
  height: 100%;
  background: rgba(224,78,57,1);
  animation: pulse infinite 3s;
  transform: scale(0.975);

  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  box-shadow: inset 0 0 1px 0 rgba(255,255,255,0.25), inset 0 0 calc(var(--mira-size) * 0.5) 0 #fff;
}

@keyframes pulse {
  0% {
    box-shadow: inset 0 0 1px 0 rgba(255,255,255,0.25), inset 0 0 calc(var(--mira-size) * 0.65) 0 #fff;
  }
  50% {
    box-shadow: inset 0 0 1px 0 rgba(255,255,255,0.25), inset 0 0 calc(var(--mira-size) * 0.25) 0 #fff;
  }
  100% {
    box-shadow: inset 0 0 1px 0 rgba(255,255,255,0.25), inset 0 0 calc(var(--mira-size) * 0.65) 0 #fff;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0) scale(1,1);
  }
  20% {
    transform: translateY(0) scale(1.05, 0.95);
  }
  30% {
    transform: translateY(0) scale(1, 1);
  }
  45% {
    transform: translateY(calc(var(--mira-size) * -0.15)) scale(0.95, 1.05);
  }
  50% {
    transform: translateY(calc(var(--mira-size) * -0.17)) scale(0.95, 1.05);
  }
  55% {
    transform: translateY(calc(var(--mira-size) * -0.17)) scale(0.95, 1.05);
  }
  75% {
    transform: translateY(0) scale(0.95, 1.05);
  }
  85% {
    transform: translateY(0) scale(1.025, 0.95);
  }
  100% {
    transform: translateY(0) scale(1,1);
  }
}

@keyframes jump-shadow {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  45% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.75);
  }
  55%  {
    transform: scale(0.75);
  }
  75% {
    transform: scale(1);
  }
  1000% {
    transform: scale(1);
  }
}
