{{page-title "Italy"}}

<div local-class="page">
  <div local-class="scene">
    <div local-class="aspect-ratio-box-wrapper">
      <div local-class="aspect-ratio-box">
        {{outlet}}
      </div>
    </div>
  </div>
</div>