.scene {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.italy {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 100%;
}

.mira {
  display: inline-block;
  transform-origin: center bottom;
  transform: scale(1);

  --mira-size: 150px;
}

.actions {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 100%;
  text-align: right;
}
