.scene {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.vatican {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 33%;
  text-align: center;
}

.mira {
  display: inline-block;
  transform-origin: center top;
  transform: scale(0.1);

  --mira-size: 150px;
}

.actions {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 100%;
  text-align: right;
}
