{{page-title "Mira"}}

<AnimatedOrphans style="position: absolute; top: 0; left: 0;"/>

<nav class="button-group" local-class="home-nav">
  <LinkTo @route="index" class="button" local-class="home"><FaIcon @icon="home"/></LinkTo>
</nav>

{{outlet}}