{{page-title "Coming Soon™"}}

<main local-class="page">
  <h2 local-class="title">Coming Soon™</h2>
  <div local-class="grid-item">
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">&lt;/vacation&gt; This is the last bit I worked on for my animation experiment.<br><br>The two lists are rendered by Ember (plain arrays) with some CSS transforms applied. <a href="https://t.co/MD57XXcZpd">pic.twitter.com/MD57XXcZpd</a></p>&mdash; Nick Schot (@nickschot) <a href="https://twitter.com/nickschot/status/1345805740108296194?ref_src=twsrc%5Etfw">January 3, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div local-class="grid-item">
    <img local-class="image" src="/images/ember-motion.jpeg" alt="ember-motion code sample"/>
  </div>
</main>