{{page-title "Index"}}

<main local-class="index">
<Mira/>

<nav local-class="menu" class="button-group">
  <LinkTo @route="creation" class="button">Creation</LinkTo>
  <LinkTo @route="creation" class="button">Groups</LinkTo>
  <LinkTo @route="interactive" class="button">Interactive</LinkTo>
</nav>
</main>