{{page-title "Index"}}

<main local-class="index">
  <Mira/>

  <nav local-class="menu" class="button-group">
    <LinkTo @route="creation" class="button">Creation</LinkTo>
    <LinkTo @route="interactive" class="button">Interactive</LinkTo>
    <LinkTo @route="a-day-in-rome.espresso" class="button">A day in Rome</LinkTo>
  </nav>
</main>